.FAQBox {
    max-width: 50rem;
    display: block;
    margin: auto;
    box-shadow: 10px 10px 0 0px rgba(0,0,0,0.45);
    border-radius: 10px;
  }
  
  .row-title {
    color: #222;
    font-family: 'Libre Baskerville', serif;
    font-size: 24px !important;
    line-height: 1;
    text-align: left;
    padding: 20px 25px !important;
  }
  .row-content-text {
    padding: 20px 25px !important;
    line-height: 1.6 !important;
  }
  .faq-body > * > * {
    border-bottom: none !important;
  }
  
  .faq-body > * {
    border-bottom: 1px solid #7b8e6f !important;
    padding: 0 !important;
  }
  .faq-row:nth-child(even) {
    background: #a2c48d !important;
  }
  .faq-row:last-child {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
  }
  .faq-row-wrapper {
    background: #adde8e !important;
    border-radius: 10px !important;
    padding: 0 !important;
  }
  .faq-row {
    padding: none !important;
  }