body {
    padding: 0;
    margin: 0;
    /* background: #FAFAFA; */
    background: url("/images/batthern.png"), url("/images/asfalt-dark.png"), #FFBBBB;
  }
  @import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
  .mainCard{
  background: url("/images/asfalt-dark.png"), #F7DAB5;
  box-shadow: 23px 23px 0px -8px rgba(0, 0, 0, 0.45);
  border-radius: 59px;
  /* width:80vw; */
  max-width:80em;
  display:block;
  margin:auto;
  padding: 4em;
  margin-top: 4em;
}

.authCard{
  max-width: 600px;
  padding: 4em;
}

.title{
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  text-align: center;
  font-family: 'Fugaz One', cursive;
  font-size: 3.5em;
}

h2{
  color: #222;
  text-align: center;
  font-family: 'Libre Baskerville', serif;  font-size: 2.5em;
  line-height: 1;
  text-align: left;
}

/* .applyBody{
  display:block;
  margin:auto;
  max-width:600px;
  padding-top: 3em;
  padding-bottom: 3em;
}  */