body {
    padding: 0;
    margin: 0;
    /* background: #FAFAFA; */
    background: url("/images/batthern.png"), url("/images/asfalt-dark.png"), #FFBBBB;
  }
  

.mainCard{
  background: url("/images/asfalt-dark.png"), #FFFFDD;
  box-shadow: 23px 23px 0px -8px rgba(0, 0, 0, 0.45);
  border-radius: 59px;
  padding:10rem;
  min-width:80vw;
  /* max-width:90vw; */
  display:block;
  margin:auto;
}