body {
    padding: 0;
    margin: 0;
    background: url("/images/batthern.png"), #FFBBBB;
    /* background: #FAFAFA; */
  }


  @import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.mainCard{
  /* background: url("/images/asfalt-dark-light.png"), #F7DAB5; */
  background-color: #eaa949;
  background-image: url("/images/wood-pattern.png");
  /* box-shadow: 23px 23px 0px -8px rgba(0, 0, 0, 0.45); */
  border-radius: 59px;
  /* width:80vw; */
  width:100%;
  display:block;
  padding: 4rem;
  margin:auto;
  margin-top: 2rem;
  border:solid .3vmin #8b6835;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .4);
}



.titleDiv{
  margin-top:3rem;
  display: flex;
  flex-flow: column;
}
.scaleDiv {
  background: url(/images/always-grey.png), #ADDE8E;;
  box-shadow: 23px 23px 0px -8px rgba(0, 0, 0, 0.45);
  border-radius: 59px;
  /* width:80vw; */
  max-width:80em;
  display:block;
  margin:auto;
  margin-bottom: 1rem;
  margin-top: 4rem;
  padding:1rem 3rem;
  flex-grow:1;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  justify-content: space-between;
  align-items: end;
  
  max-width: 1920px;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.split-vert {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "."
    ".";
}
.fireplaceTitle {
  max-width:min(50vw, 700px);
}

.fireplaceFlex{
  flex-basis: 0%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30em;
}

.sideText{
  background: url(/images/always-grey.png), #ADDE8E;;
  transform: translateX(0%);
  display:block;
  width:100%;
  /* padding-top:1em; */
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: 900;
  margin:auto;
  z-index: 100;
  /* background: url(/images/always-grey.png), #FF7C7C; */
  /* box-shadow: 10px 10px 0px -4px rgba(0, 0, 0, 0.45); */
  border-radius: 59px;
  padding: 2rem;
  /* text-shadow:
-1px -1px 0 #000,  
 1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000, 6px 6px 0 rgba(0, 0, 0, 0.5);; */
  color: #212121;
  text-align: center;
  font-family: 'Fugaz One', cursive;
  font-size:4em;
  box-shadow: 23px 23px 0px -8px rgba(0, 0, 0, 0.45);
  font-family: 'Libre Baskerville', serif;  font-size: 2.5em;

}
.aboutTitle{
  transform: translateX(-4%);
  display:block;
  width:500px;
  /* padding-top:1rem; */
  margin:auto;
  /* background: url(/images/always-grey.png), #FF7C7C; */
  /* box-shadow: 10px 10px 0px -4px rgba(0, 0, 0, 0.45); */
  border-radius: 59px;
  text-shadow:
-1px -1px 0 #000,  
 1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
  -webkit-text-stroke: 1px black;
  color: white;
  text-align: center;
  font-family: 'Fugaz One', cursive;
  font-size:5em;
}
.homeTitle{ 
  transform: translateX(0%);
  display:block;
  width:410px;
  /* padding-top:1em; */
  margin:auto;
  /* background: url(/images/always-grey.png), #FF7C7C; */
  /* box-shadow: 10px 10px 0px -4px rgba(0, 0, 0, 0.45); */
  border-radius: 59px;
  text-shadow:
-1px -1px 0 #000,  
 1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000, 6px 6px 0 rgba(0, 0, 0, 0.5);;
  -webkit-text-stroke: 1px black;
  color: white;
  text-align: center;
  font-family: 'Fugaz One', cursive;
  font-size:4em;
}


.shelfTitle {
  content: ' ';
  background-image: url('/images/assets/Bottom Shelf.svg');
  height: 12em; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  margin-bottom:3rem;
  filter: drop-shadow(6px 6px  rgba(0,0,0,0.5));

}


.flex-1{
  flex-basis: 0%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.couchTitle {
  content: ' ';
  background-image: url('/images/assets/Couch v2.svg');
  height: 12em; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  margin-bottom:3rem;
  filter: drop-shadow(6px 6px  rgba(0,0,0,0.5));
  align-self: flex-end;
}



#couchpic {

}

.right{
  text-align: right;
}
#middleshelf{
  background-image: url('/images/assets/Top Shelf v2.svg')!important;

}
#toiletshelf {
  background-image: url('/images/assets/toiletshelf2.svg')!important;

}

.outerFrame{
padding:0;
max-width: 805px;
margin:auto;
}
.outerFrame img{
  width:60px;
  display:block;
  margin:auto;
  margin-top:0;
  margin-bottom:-4px;
}
.frame h2{
  text-align:center;
  line-height: 1.5;
  font-size: 2em;
}
.frame {
  filter: drop-shadow(5px 7px  rgba(0,0,0,0.5)) drop-shadow(-3px -2px  rgba(0,0,0,0.3));
  background: url("/images/asfalt-dark-light.png"), #ffebd5;
  border:solid 3vmin #8b6835;
  border-bottom: solid 50px #9b7c5d;
  border-left-color:#a88b6f;
  border-radius:2px;
  border-right-color:#a88b6f;
  border-top-color:#c1a589;
  box-shadow:0 0 0px 0 rgba(0,0,0,.25) inset,  inset 0px 0px 0px 2px #87622b;
  /* box-shadow: 23px 23px 0px -8px rgba(0, 0, 0, 0.45),0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25); */
  box-sizing:border-box;
  display:inline-block;
  /* margin:10vh 10vw; */
  /* height:80vh; */
  padding:4vmin;
  position:relative;
  display:block;
  max-width: 800px;
  margin:auto;
}
  /* .frame:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) ;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  .frame:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  } */


.frame img {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:100%;
  max-width:100%;
}

.actionFlex {
  flex-basis: 0%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-wrap: wrap;
  align-content: flex-start;
  height: 30em;
  padding-left: 10%;
  padding-right: 10%;
  height:auto;
  max-width:1500px;
  margin:auto;
}

#arrowIcon{
  display:inline-block;
  width:40px;
  height:40px;
  padding-right: 15px;
  padding-bottom: 15px;
  position:absolute;
  right:0;
  bottom:0;
}

.actionFlex>* {
  position: relative;
  width: min(20vw, 30%);
  height: 20vw;
  color: #222;
  font-family: 'Libre Baskerville', serif;  font-size: 2em;
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0.45) 6px 6px 0px 0px;
  padding:1rem;
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
}
.actionFlex>*:hover{
 --under: underline;
 --thick: 2px;
}
.actionFlex>*:hover{
 --under: underline;
 --thick: 2px;
}
.actionFlex>*>p{
  text-align: left;
  width:100%;
  margin-top:10px;
  margin-left:15px;
  text-decoration: var(--under);
  text-decoration-thickness: var(--thick);

}

.actionbtn1 {
  background: #F7F7A5;
border: 5px solid #D0D086;
}

.actionbtn2 {
  background: #ADDE8E;
border: 5px solid #7B8E6F;

}

.actionbtn3 {
  background: #b0e7e8;
border: 5px solid #94b4b5;

}

.greenCenter{
  background: url(/images/always-grey.png), #A4E6E8;
  display:block;
  width:85%;
  /* margin:auto;
  margin-left: 15%; */
  border-radius: 49px;
  padding: 2.5rem 2rem;
  box-shadow: 10px 10px 0px -3px #8b6835;
  text-align:center;
  border: solid 2px #8b6835;
  line-height: 1.4;
  max-width: 500px;
  font-size: 2em;
    flex-basis: 0%;
    flex-grow: 1;
  
}

#couchpic{
  filter: drop-shadow(6px 6px  rgba(0,0,0,0.5));
  max-width: 700px;
  display:block;
  flex-basis: 0%;
  flex-grow: 1;
}

.groupCard{
  background: url(/images/always-grey.png), #A4E6E8;
border-radius: 14px;
box-shadow: 23px 23px 0px -8px rgba(0, 0, 0, 0.45);
padding: 2rem;
width:50em;
margin:auto;
margin-top:3rem;
margin-bottom:3rem;
}

.homepageCard{
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.joinGroup{
  background:  url("/images/asfalt-dark-light.png"), #ADDE8E;
border-radius: 14px;
border-radius: 49px;
box-shadow: 10px 10px 0px -3px rgba(0, 0, 0, 0.45);
padding: 3rem;
 
 max-width:50em;
 margin:auto;
 margin-top: 3.5rem; 
 margin-bottom: 3.5rem; 
}

.authCard{
  max-width: 600px;
  padding: 4rem;
  margin-bottom: 1rem;
}
#root{
  overflow: hidden;
  padding-bottom: 0;
}
.title{
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  text-align: center;
  font-family: 'Fugaz One', cursive;
  font-size: 3.5em;
}

h2{
  color: #222;
  text-align: center;
  font-family: 'Libre Baskerville', serif;  font-size: 2.5em;
  line-height: 1;
  text-align: left;
}

.accTable{
  max-width: 45em;
}

/* .applyBody{
  display:block;
  margin:auto;
  max-width:600px;
  padding-top: 3em;
  padding-bottom: 3em;
}  */


/* .authCard{
  border-radius: 5px;
  box-shadow: 0px 16px 0px 0px rgba(0, 0, 0, 0.45);
  margin-bottom: 2rem!important;
}
.divNav{
  border-radius: 5px!important;
  box-shadow: 0px 16px 0px 0px rgba(0, 0, 0, 0.45)!important;
  margin-bottom: 2rem!important;
  padding: 2rem 1rem;
 margin: 2rem 0; 
}
.divNav nav img{
  transform: translate(10%,38%);
}
.divNav nav ul{
  transform: none;
}
.mainCard{
  padding:1rem;
  margin:auto;
  margin-bottom: 2rem!important;
  border-radius: 5px;
  box-shadow: 0px 16px 0px 0px rgba(0, 0, 0, 0.45);
} */


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1055px) {
  .aboutTitle{
    font-size:4.5em;
    width:100%;
    transform: translateX(0%);
  }
  .actionFlex > *{
    font-size: 1.4em;
  }
  .frame h2 {
    text-align: center;
    line-height: 1.5;
    font-size: 1.5em;
}
  .split{
    margin-top:3rem;
    margin-bottom:4rem;

  }
    .greenCenter{
      font-size: calc(4vw - 16px);
        }
  .groupCard{
    padding: 2rem 1rem;
    margin: 2rem 0; 
    width:100%;
    border-radius: 5px;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.45);
  }
  .joinGroup{
    padding: 2rem 1rem;
   margin: 2rem 0; 
   border-radius: 5px;
   box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.45);
  }
  .scaleDiv{
   border-radius: 5px;
   box-shadow: 0px 16px 0px 0px rgba(0, 0, 0, 0.45);
    margin-left: 0;
    margin-right:0;
  }
  
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 0px) and (max-width: 768px) {
  #getInvolved{
    font-size: 3.4em;
  }
  .aboutTitle{
    font-size:4em;
    width:100%;
    transform: translateX(0%);
  }
  .fireplaceTitle{
    max-width:100%;
  }
  .greenCenter{
    margin-bottom:0;
    font-size:1.3em;
  }
  .fireplaceFlex {
  height:auto;
  justify-content:flex-end;
  align-self: flex-end;
  }
  .flex-1{
    align-self: start;
    transform: translateY(-5.5%);
  }
  .frame h2 {
    text-align: center;
    line-height: 1.5;
    font-size: 1.4em;
}
  .split{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height:100vh;
    grid-template-areas:
      "."
      ".";
      overflow:hidden;
      margin-top:0;
      margin-bottom:0;
      height: auto;
  }
  .shelfTitle{
    margin-bottom:0;
  }
  #toiletshelf{
    margin-bottom:0!important;
  }
  .mainCard{
    padding:0.5rem;
  }
  .actionFlex{
    margin:0;
    padding:0;
  }
  #couchpic{
    filter: drop-shadow(10px 15px rgba(0,0,0,0.25));
  }
  .actionFlex>* {
  position: relative;
  width: 69%;
  height: 40vw;
  color: #222;
  font-family: 'Libre Baskerville', serif;
    font-size: calc(16px+3vw);
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0.45) 6px 6px 0px 0px;
  padding:1rem;
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
  margin-bottom: 25px;

}

}